<div class="bg-img">

    <nav class="navbar navbar-expand-lg" style="background-color: rgb(13, 15, 13);">

        <a class="navbar-brand" routerLinkActive="true" style="color: darkslategray;font-weight: bold">Path Finder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/home" routerLinkActive="true" style="color: forestgreen;font-weight: bold">Home <span class="sr-only">(current)</span></a>
                </li>
            </div>
            <ul class="navbar-nav">

            </ul>
            <a class="nav-link"> <button class="btn btn-sm btn-1" type="submit" (click)="notification()" style="font-weight: bold;">Notification</button></a>

            <a class="nav-link"> <button class="btn btn-sm btn-2" type="submit" (click)="logout()" style="font-weight: bold;">Logout</button></a>
        </div>
    </nav>

</div>