<div class="container-fluid py-5">
    <div class="row py-5">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="card card-signin">
                <div class="card-body">
                    <h3 class="card-title text-center">Login</h3>

                    <p-toast position="top-center"></p-toast>
                    <form [formGroup]="UserLogin" autocomplete="off" (submit)="onSubmit()">

                        <div class="form-group required">
                            <label>Email</label>
                            <input class="form-control" formControlName="Email" placeholder="email" style="border-radius: 1.5rem">
                            <small class="text-danger" *ngIf="UserLogin.get('Email').touched && UserLogin.get('Email').errors?.required">This
                                field is mandatory</small>
                            <small class="text-danger" *ngIf="UserLogin.get('Email').touched && UserLogin.get('Email').errors?.pattern">Invalid
                                Email Address</small>
                        </div>

                        <div class="form-group required">
                            <label>Enter Password</label>
                            <input type="password" class="form-control" formControlName="Password" placeholder="password" style="border-radius: 1.5rem">
                            <small class="text-danger" *ngIf="UserLogin.get('Password').touched && UserLogin.get('Password').errors?.required">This
                                field is mandatory</small>
                            <small class="text-danger" *ngIf="UserLogin.get('Password').touched && UserLogin.get('Password').errors?.minlength">Minimun
                                4 characters required</small>
                        </div>


                        <div class="form-row">
                            <div class="form-group col-md-12" style="text-align: center">
                                <button class="btn btn-lg btn-info btn-block" [disabled]="!UserLogin.valid" style="border-radius: 1.8rem">Sign in</button>
                            </div>
                        </div>
                    </form>

                    <div class="text-center my-2">
                        <p>Dont have an account? <br/>
                            <a class="text-center" routerLink="/user-register" style="color: rgb(100, 57, 0)">Register as User</a><br/>
                            <a class="text-center" routerLink="/trainer-register" style="color: rgb(100, 57, 0)">Register as Mentor</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>