<div class="container-fluid py-3">
        <div class="row py-5">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
            <div class="card card-signin">
                <div class="card-body">
                    <h3 class="card-title text-center">Send Request</h3>
                    <form class="form-signin" (submit)="onSave()">
                        <div class="form-label-group py-1">
                            <label for="timeSlot">Time Slot</label>
                            <select [(ngModel)]="timeSlot" id="timeSlot" name="timeSlot"
                                class="form-control mb-2 rounded text-center">
                                <option disabled>Select TimeSlot</option>
                                <option value="09:00 AM - 12:00 PM">09:00 AM - 12:00 PM</option>
                                <option value="12:00 PM - 03:00 PM">12:00 PM - 03:00 PM</option>
                                <option value="03:00 PM - 06:00 PM">03:00 PM - 06:00 PM</option>
                                <option value="06:00 PM - 09:00 PM">06:00 PM - 09:00 PM</option>
                            </select>
                        </div>
                        <div class="form-label-group py-1">
                            <label for="startDate">Start Date</label>
                            <input type="date" name="startDate" [(ngModel)]="startDate" class="form-control" required
                                autofocus>
                        </div>

                        <div class="form-label-group py-1">
                            <label for="endDate">End Date</label>
                            <input type="date" name="endDate" [(ngModel)]="endDate" class="form-control" required
                                autofocus>
                        </div>

                        

                        <div *ngIf="trainerData" class="form-label-group py-1">
                            <label for="UserName">Trainer Name</label>
                            <input type="text" name="name"  disabled value="{{trainerData.firstname}} {{trainerData.lastname}}"
                                class="form-control" required autofocus>
                        </div>

                        <div *ngIf="trainerData" class="form-label-group py-1">
                            <label for="email">Trainer Email</label>
                            <input type="text" name="email" id="email" disabled value="{{trainerData.email}}"
                                class="form-control" required autofocus>
                        </div>

                        <!-- <div *ngIf="skillData" class="form-label-group py-1">
                            <label for="name">Technology</label>
                            <input type="text" id="name" name="name" disabled value="{{skillData.name}}"
                                class="form-control" required autofocus>
                        </div>

                        <div *ngIf="skillData" class="form-label-group py-1">
                            <label for="fees">Fees</label>
                            <input type="text" id="fees" name="fees" disabled [(ngModel)]="skillData.fees"
                                value="{{skillData.fees}}" class="form-control" required autofocus>
                        </div>

                        <div *ngIf="skillData" class="form-label-group py-1">
                            <label for="toc">TOC</label>
                            <input type="text" name="toc" id="toc" disabled [(ngModel)]="skillData.toc"
                                value="{{skillData.toc}}" class="form-control" required autofocus>
                        </div>

                        <div *ngIf="skillData" class="form-label-group py-1">
                            <label for="prerequisites">Prerequisites</label>
                            <input type="text" name="prerequisites" id="prerequisites" disabled
                                [(ngModel)]="skillData.prerequisites" value="{{skillData.prerequisites}}"
                                class="form-control" required autofocus>
                        </div> -->

                        <button class="my-4 btn btn-lg btn-primary btn-block text-uppercase" type="submit">Send
                            Request</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
                <div class="card bg-light mb-3" style="max-width: 18rem;">
                        <div *ngIf="skillData" class="card-header">Requested Course</div>
                        <div class="card-body">
                            <h5 class="card-title">{{skillData.name}}</h5>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Fees</h5>
                            <p class="card-text">{{skillData.fees}}</p>
                            <h5 class="card-title">Prerequisites</h5>
                            <p class="card-text"> {{skillData.prerequisites}}</p>
                            <h5 class="card-title">Table Of Contents</h5>
                            <p class="card-text">{{skillData.toc}}</p>
                        </div>
                    </div>
        </div>
        <!-- <div class="col-sm-2"></div> -->
    </div>
</div>