<div class="container-fluid py-3">
    <div class="row py-4">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="card card-signin">
                <div class="card-body">
                    <h3 class="card-title text-center">User Sign Up</h3>
                    <br/>
                    <div class="form-row">
                        <div class="form-group col">

                            <p-toast position="top-center"></p-toast>
                            <form class="form-signin" [formGroup]="UserRegister" autocomplete="off" (submit)="onSubmit()">
                                <!-- <div class="form-row"> -->
                                <div class="form-group  required">
                                    <label>First Name</label>
                                    <input class="form-control" formControlName="firstName" style="border-radius: 1.5rem" placeholder="first name">
                                    <small class="text-danger" *ngIf="(UserRegister.get('firstName').touched &&  UserRegister.get('firstName').errors?.required)">This
                                            field is mandatory</small>
                                    <small class="text-danger" *ngIf="UserRegister.get('firstName').touched && UserRegister.get('firstName').errors?.pattern">First
                                            Name
                                            cannot have special characters or digits</small>
                                </div>
                                <div class="form-group  required">
                                    <label>Last Name</label>
                                    <input class="form-control" formControlName="lastName" style="border-radius: 1.5rem" placeholder="last name">
                                    <small class="text-danger" *ngIf="UserRegister.get('lastName').touched && UserRegister.get('lastName').errors?.required">This
                                            field is mandatory</small>
                                    <small class="text-danger" *ngIf="UserRegister.get('lastName').touched && UserRegister.get('lastName').errors?.pattern">Last
                                            Name
                                            cannot have special characters or digits</small>
                                </div>
                                <!-- </div> -->

                                <!-- <div class="form-group required">
                                    <label>User Name</label>
                                    <input class="form-control" formControlName="userName" style="border-radius: 1.5rem" placeholder="user name">
                                    <small class="text-danger"
                                        *ngIf="UserRegister.get('userName').touched && UserRegister.get('userName').errors?.required">This
                                        field is mandatory</small>
                                </div> -->


                                <div class="form-group required">
                                    <label>Email</label>
                                    <input class="form-control" formControlName="email" style="border-radius: 1.5rem" placeholder="email">
                                    <small class="text-danger" *ngIf="UserRegister.get('email').touched && UserRegister.get('email').errors?.required">This
                                        field is mandatory</small>
                                    <small class="text-danger" *ngIf="UserRegister.get('email').touched && UserRegister.get('email').errors?.pattern">Invalid
                                        Email Address</small>
                                </div>

                                <div class="form-group required">
                                    <label>Contact Number</label>
                                    <input class="form-control" formControlName="contactNumber" style="border-radius: 1.5rem" placeholder="contact number">
                                    <small class="text-danger" *ngIf="UserRegister.get('contactNumber').touched && UserRegister.get('contactNumber').errors?.required">This
                                        field is mandatory</small>
                                    <small class="text-danger" *ngIf="UserRegister.get('contactNumber').touched && UserRegister.get('contactNumber').errors?.pattern">Invalid
                                        Contact Number</small>
                                </div>

                                <div class="form-row" formGroupName="Passwords">
                                    <div class="form-group col required">
                                        <label>Enter Password</label>
                                        <input type="password" class="form-control" formControlName="password" style="border-radius: 1.5rem" placeholder="enter password">
                                        <small class="text-danger" *ngIf="UserRegister.get('Passwords.password').touched && UserRegister.get('Passwords.password').errors?.required">This
                                            field is mandatory</small>
                                        <small class="text-danger" *ngIf="UserRegister.get('Passwords.password').touched && UserRegister.get('Passwords.password').errors?.minlength">Minimun
                                            4 characters required</small>
                                    </div>
                                    <div class="form-group col required">
                                        <label>Confirm Password</label>
                                        <input type="password" class="form-control" formControlName="confirmPassword" style="border-radius: 1.5rem" placeholder="comfirm password">
                                        <small class="text-danger" *ngIf="UserRegister.get('Passwords.confirmPassword').touched && UserRegister.get('Passwords.confirmPassword').errors?.required">This
                                            field is mandatory</small>
                                        <small class="text-danger" *ngIf="UserRegister.get('Passwords.confirmPassword').touched && UserRegister.get('Passwords.confirmPassword').errors?.passwordMismatch">Confirm
                                            Password does not match</small>
                                    </div>
                                </div>
                                <div class="form-row my-1">
                                    <div class="form-group col-md-12">
                                        <button class="btn btn-lg btn-info btn-block" [disabled]="!UserRegister.valid" style="border-radius: 1.8rem">Sign Up</button>
                                    </div>
                                </div>
                                <div class="text-center p-2">
                                    Already have an account ?<a class="text-center" routerLink="/login" style="color: rgb(100, 57, 0)"> login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>