<section class="my-2 container" *ngIf="curT">
  <h3 class="text-center text-capitalize p-4">Current Trainings</h3>

  <table class="my-5 table table-striped text-center table-responsive-sm table-sm" width="50%">
    <thead>
      <tr class="thead-dark">
        <th scope="col">Techonolgy</th>
        <th scope="col"> User Name </th>
        <th scope="col">Trainer Name</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Timings</th>
        <th scope="col">Progress</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let i of curT">
        <td scope="row">{{i.skillname}}</td>
        <td>{{i.userFirstName}} {{i.userLastName}}</td>
        <td>{{i.mentorFirstName}} {{i.mentorLastName}}</td>
        <td>{{i.startDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{i.endDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{i.timeSlot}}</td>
        <td>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated text-dark" style="font-weight: bold;" role="progressbar"  [style.width.px]="i.progress">
              {{i.progress}}%
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>









</section>