.btn-1 {
    background-image: linear-gradient(to top, #99118ed7, #ef3e38ef);
    border-radius: 1.5rem;
}

.container-fluid {
    background-image: url("../../assets/images/img2.jpg");
    min-height: 657px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* .d1 {
    background-image: url("../../assets/images/img0.jpg");
    
} */


/* .f1 {
    background-image: url("../../assets/images/img2.jpg");
} */