<app-user-navbar></app-user-navbar>

<nav class="navbar navbar-expand-lg" style="background-color: rgb(3, 14, 3);">
    <button class="navbar-toggle navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        More<span class="navbar-toggler-icon icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="nav navbar-nav nav-pills nav-justified w-100">

            <li class="nav-item">
                <a routerLink="/search-trainings" class="nav-link">
                    <button class="rounded btn btn-sm">
                        Search Technology
                    </button>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="current-trainings" class="nav-link"><button class="rounded btn btn-sm">Current
                        Training</button></a>
            </li>
            <li class="nav-item">
                <a routerLink="profile" class="nav-link"><button class="rounded btn btn-sm"> Profile </button></a>
            </li>
            <li class="nav-item">
                <a routerLink="completed-trainings" class="nav-link"><button class="rounded btn btn-sm">Completed
                        Trainings</button></a>
            </li>
            <li class="nav-item">
                <a routerLink="payment-info" class="nav-link"><button class="rounded btn btn-sm">Receipt</button></a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
<!-- 
<app-footer></app-footer> -->