<section class="my-2 container" *ngIf="curT">
  <h3 class="text-center text-capitalize p-4">Current Trainings</h3>

  <table class="my-5 table table-striped text-center table-responsive-sm table-sm" width="50%">
    <thead>
      <tr class="thead-dark">
        <th scope="col">Techonolgy</th>
        <th scope="col">Trainer Name</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Timings</th>
        <th scope="col">Progress</th>
        <th scope="col">Change Progress</th>

      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let i of curT">
        <td scope="row">{{i.skillname}}</td>
        <td>{{i.mentorFirstName}} {{i.mentorLastName}}</td>
        <td>{{i.startDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{i.endDate | date: 'dd/MM/yyyy'}}</td>
        <td>{{i.timeSlot}}</td>
        <td>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated text-dark" style="font-weight: bold;" role="progressbar"  [style.width.px]="i.progress">
              {{i.progress}}%
            </div>
          </div>
        </td>
        <td>
          <button type="button" class="btn btn-sm btn-success" data-toggle="modal" data-target="#myModal"
            (click)="getProgress(i.id)">Update Progress</button>
        </td>
      </tr>
    </tbody>
  </table>

  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content" *ngIf="model">
          <form>
          <div class="modal-header">
            <h4 class="modal-title">Update Progress</h4>
          </div>
          <div class="modal-body" style="text-align: left">
            <select [(ngModel)]="model.progress" name="progress" class="form-control rounded">
              <option value="0">0%</option>
              <option value="25">25%</option>
              <option value="50">50%</option>
              <option value="75">75%</option>
              <option value="100">100%</option>
            </select>
          </div>
          <div class="modal-footer">
            <button class="btn d-inline" (click)="updateProgress(model.id)"><i class="fas fa-edit"></i></button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>