<section class="my-2 container">
  <h3 class="text-center text-capitalize p-4">Technologies We Teach</h3>

  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-login">
      <div class="modal-content">

        <form #myForm="ngForm" [formGroup]="techAdd" autocomplete="off">
          <div class="modal-header">
            <h4 class="modal-title">Add Skill</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body">

            <div class="form-group required">
              <label>Name</label>
              <input class="form-control" placeholder="eg: Dot Net Full Stack" formControlName="name">
              <small class="text-danger"
                *ngIf="techAdd.get('name').touched && techAdd.get('name').errors?.required">This
                field is mandatory</small>
            </div>

            <div class="form-group required">
              <label>Toc</label>
              <input type="text" class="form-control" placeholder="eg: C#, Angular, Scrum" formControlName="toc">
              <small class="text-danger" *ngIf="techAdd.get('toc').touched && techAdd.get('toc').errors?.required">This
                field is mandatory</small>
            </div>

            <div class="form-group required">
              <label>Fees</label>
              <input type="text" class="form-control" placeholder="eg: 5000" formControlName="fees">
              <small class="text-danger"
                *ngIf="techAdd.get('fees').touched && techAdd.get('fees').errors?.required">This
                field is mandatory</small>
            </div>
              
            <div class="form-group required">
                <label>Prerequisites</label>
                <input type="text" class="form-control" placeholder="eg: C, HTML" formControlName="prerequisites">
                <small class="text-danger"
                  *ngIf="techAdd.get('prerequisites').touched && techAdd.get('prerequisites').errors?.required">This
                  field is mandatory</small>
              </div>

          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-success pull-right" (click)="addingTechnology();myForm.reset()"
              [disabled]="!techAdd.valid" >ADD</button>
              <button type="button" class="btn btn-danger btn-md" data-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <button type="button" class="btn-success" data-toggle="modal" data-target="#myModal">+</button>
  </div>


  <table class="my-5 table table-sm" width="50%">
    <thead>
      <tr class="thead-dark">
        <th scope="col">Name</th>
        <th scope="col">Toc</th>
        <th scope="col">Fees</th>
        <th scope="col">Prerequisites</th>
        <th scope="col" class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of skillData">
        <td scope="row">{{i.name}}</td>
        <td>{{i.toc}}</td>
        <td>{{i.fees}}</td>
        <td>{{i.prerequisites}}</td>
        <td class="text-center">
            <button class="btn btn-sm btn-func btn-danger mx-3" (click)="removeTech(i.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

</section>